<div class="home-welcome">
  <h1>Your social network, private.</h1>

  <a href="#" class="button button-primary">Register now</a>

  <div class="row values">
    <div class="one-third column">
      <h4>No bullshit</h4>

      <p>
        We are not here to fool you, this social network is
        <a href="#">yours</a>.
      </p>
    </div>

    <div class="one-third column">
      <h4>No monetizing</h4>

      <p>
        We do not make money with your <a href="#">personal information</a>,
        period.
      </p>
    </div>

    <div class="one-third column">
      <h4>No surveillance</h4>

      <p>
        Everything is <a href="#">encrypted</a>, with a
        <a href="#">distributed</a> architecture.
      </p>
    </div>
  </div>
</div>
