<div class="row timeline-content">
  <div class="four columns profile">
    <div class="timeline-profile">
      <h5><%= current_user.username %></h5>

      <table class="u-full-width">
        <thead>
          <tr>
            <th>Tweets</th>
            <th>Following</th>
            <th>Followers</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>266</td>
            <td>80</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="timeline-trends">
      <h5>Global Trends</h5>
    </div>
  </div>

  <div class="eight columns">
    <form>
      <textarea class="u-full-width" placeholder="What's happening?"></textarea>
      <input type="submit" class="button-primary" value="Tweet">
    </form>

    <h4>While you were away&#8230;</h4>

    <div class="timeline-tweet">
      <div class="timeline-tweet-meta"></div>

      <div class="timeline-tweet-header">
        <strong>amalia</strong> @guatemalia &bullet; 2m
      </div>

      <div class="timeline-tweet-content">
        And they are married! Ayoka says "you may now make out in public", then
        exit to Nina Simone!!! #mittsandmuffy
      </div>

      <div class="timeline-tweet-footer">
        <ul>
          <li><a href="#">reply</a></li>
          <li><a href="#">retweet</a></li>
          <li><a href="#">favorite</a></li>
        </ul>
      </div>
    </div>

    <div class="timeline-tweet">
      <div class="timeline-tweet-meta">Rue89 retweeted</div>

      <div class="timeline-tweet-header">
        <strong>Virginie</strong> @virgini &bullet; 2h
      </div>

      <div class="timeline-tweet-content">
        Claire Chazal : comment se dire adieu
        http://rue89.nouvelobs.com/2015/09/08/claire-chazal-comment-dire-adieu-261108 … #chazal #télévision via @rue89
      </div>

      <div class="timeline-tweet-footer">
        <ul>
          <li><a href="#">reply</a></li>
          <li><a href="#">retweet</a></li>
          <li><a href="#">favorite</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
