// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.register-form {
  margin-top: 20%;
}

.user-profile {
  margin-top: 5%;
}

.user-profile h5 small {
  color: #8899A6;
}

.profile-stats thead th {
  text-transform: uppercase;
  color: #8899A6;
  font-size: .8em;
  font-weight: normal;
  padding: 0px;
  border-bottom-width: 0px;
}

.profile-stats tbody td {
  padding: 0px;
  border-bottom-width: 0px;
  font-weight: bold;
}
